<div class="container">
  <app-data (serverCreated) = "onServerCreated($event)" 
  (blueprintCreated) = "onBlueprintCreated($event)"></app-data>
  <hr>
  <div class="row">
    <div class="col-xs-12">
       <app-server-element *ngFor="let serverElement of serverElements" [srvElement] = "serverElement">
        <h4>
        <strong *ngIf="serverElement.type === 'server'" style="color: 'red'">{{serverElement.content}}</strong>
        <strong *ngIf="serverElement.type === 'blueprint'">{{serverElement.content}}</strong>
    </h4></app-server-element>
    </div>
    </div>
</div>
